<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1 class="containe">พระพุทธศาสนาในประเทศไทย</h1>
    <div>
        <p>พระพุทธศาสนาเข้ามาสู่ดินแดนประเทศไทย เมื่อประมาณ พ.ศ. ๒๓๖ สมัยเดียวกันกับประเทศลังกา
            ด้วยการส่งพระสมณทูตไปเผยแผ่พระพุทธศาสนาในประเทศต่าง ๆ ๙ สาย โดยการอุปถัมภ์ของพระเจ้าอโศกมหาราช
            กษัตริย์อินเดีย ในขณะนั้นประเทศไทยรวมอยู่ในดินแดนที่เรียกว่าสุวรรณภูมิ ซึ่งมีขอบเขตกว้างขวาง
            มีประเทศรวมกันอยู่ในดินแดนส่วนนี้ไม่น้อยกว่า ๗ ประเทศ ได้แก่ ไทย พม่า ศรีลังกา ญวน กัมพูชา ลาว มาเลเซีย
            ซึ่งสันนิษฐานว่ามีใจกลางอยู่ที่จังหวัดนครปฐมของไทย เนื่องจากได้พบโบราณวัตถุที่สำคัญ เช่นพระปฐมเจดีย์
            และรูปธรรมจักรกวางหมอบเป็นหลักฐานสำคัญ แต่พม่าก็สันนิษฐานว่ามีในกลางอยู่ที่เมืองสะเทิม ภาคใต้ของพม่า
            พระพุทธศาสนาเข้ามาสู่สุวรรณภูมิในยุคนี้ นำโดยพระโสณะและพระอุตตระ พระเถระชาวอินเดีย
            เดินทางมาเผยแผ่พุทธศาสนาในแถบนี้ จนเจริญรุ่งเรืองมาตามลำดับ ตามยุคสมัยต่อไปนี้
        </p>
    </div>
    <div>
        <h3>•พระพุทธศาสนา สมัยทวาราวดี</h3>
        <p>
            ผืนแผ่นดินจุดแรกของอาณาจักรสุวรรณภูมิ หรือที่เรียกกันว่า "แหลมทอง" ซึ่งท่าน
            พระโสณะกับพระอุตตระได้เดินทางจากชมพูทวีปเข้ามาประดิษฐานนั้น จดหมายเหตุของหลวงจีนเหี้ยนจัง เรียกว่า
            "ทวาราวดี" สันนิษฐานว่าได้แก่ที่จังหวัดนครปฐม เพราะมีโบราณสถานและโบราณวัตถุต่าง ๆ เช่น พระปฐมเจดีย์
            ศิลารูปพระธรรมจักร เป็นต้น ปรากฏว่าเป็นหลักฐานประจักษ์พยานอยู่ พระพุทธศาสนาที่เข้ามาในครั้งนี้
            เป็นแบบเถรวาทดั้งเดิม พุทธศาสนิกชนได้มีความศรัทธาเลื่อมใสบวชเป็นพระภิกษุจำนวนมาก
            และได้สร้างสถูปเจดีย์ไว้สักการะบูชา เรียกว่า สถูปรูปฟองน้ำ เหมือนสถูปสาญจีในอินเดีย
            ที่พระเจ้าอโศกทรงสร้างขึ้น ศิลปะในยุคนี้เรียกว่า ศิลปะแบบทวาราวดี
        </p>
    </div>
    <div>
        <h3>•พระพุทธศาสนา สมัยอาณาจักรอ้ายลาว</h3>
        <p>
            พระพุทธศาสนาในยุคนี้เป็นแบบมหายาน ในสมัยที่ขุนนางเม้ากษัตริย์ไทย ก่อนที่จะอพยพเข้ามาสู่ประเทศไทยปัจจุบัน
            ครองราชย์อยู่ในอาณาจักรอ้ายลาว ได้รับเอาพระพุทธศาสนามหายานผ่านมาทางประเทศจีน
            โดยการนำของพระสมณทูตชาวอินเดียมาเผยแผ่ ในคราวที่พระเจ้ากนิษกะมหาราชทรงอุปถัมภ์การสังคายนาครั้งที่ ๔
            ของฝ่ายมหายาน ณ เมืองชลันธร พระสมณทูตได้เข้ามาเผยแผ่พระพุทธศาสนาในเอเซียกลาง พระเจ้ามิ่งตี่
            กษัตริย์จีนทรงรับพระพุทธศาสนาไปเผยแผ่ในจีน และได้ส่งทูตมาเจริญสัมพันธไมตรีกับอาณาจักรอ้ายลาว
            คณะทูตได้นำเอาพระพุทธศาสนามาด้วย ทำให้หัวเมืองไทยทั้ง ๗๗ มีราษฎร ๕๑,๘๙๐ ครอบครัว
            หันมานับถือพระพุทธศาสนาแบบมหายานเป็นครั้งแรก
        </p>
        <div>
            <h3>• พระพุทธศาสนา สมัยศรีวิชัย พ.ศ. ๑๓๐๐</h3>
            <p>
                อาณาจักรศรีวิชัยในเกาะสุมาตราเจริญรุ่งเรืองในช่วงพุทธศตวรรษที่ ๑๓
                ได้แผ่อำนาจเข้ามาถึงจัดหวัดสุราษฎร์ธานี กษัตริย์ศรีวิชัยทรงนับถือพุทธศาสนาแบบมหายาน
                พระพุทธศาสนาแบบมหายานจึงได้แผ่เข้ามาสู่ภาคใต้ของไทย ดังหลักฐานที่ปรากฏคือเจดีย์พระบรมธาตุไชยา
                พระบรมธาตุนครศรีธรรมราช และรูปหล่อพระโพธิสัตว์อวโลกิเตศวร
            </p>
        </div>
        <div>
            <h3>• พระพุทธศาสนา สมัยลพบุรี พ.ศ. ๑๕๕๐</h3>
            <p>
                ในสมัยกษัตริย์กัมพูชาราชวงศ์สุริยวรมันเรืองอำนาจนั้น
                ได้แผ่อาณาเขตขยายออกมาทั่วภาคตะวันออกเฉียงเหนือและภาคกลางของประเทศไทย ในราว พ.ศ. ๑๕๔๐
                และได้ตั้งราชธานีเป็นที่อำนวยการปกครองเมืองต่าง ๆ ในดินแดนดังกล่าวขึ้นหลายแห่ง เช่น
                - เมืองลพบุรี ปกครองเมืองที่อยู่ในอาณาเขตทวาราวดี ส่วนข้างใต้
                - เมืองสุโทัย ปกครองเมืองที่อยู่ในอาณาเขตทวาราวดีส่วนข้างเหนือ
                - เมืองศรีเทพ ปกครองหัวเมืองที่อยู่ตามลุ่มแม่น้ำป่าสัก
                - เมืองพิมาย ปกครองเมืองที่อยู่ในที่ราบสูงต้อนข้างเหนือ
                เมืองต่าง ๆ ที่ตั้งขึ้นนี้เมืองลพบุรีหรือละโว้ ถือว่าเป็นเมืองสำคัญที่สุด
                กษัตริย์กัมพูชาราชวงศ์สุริยวรมัน ทรงนับถือพระพุทธศาสนาฝ่ายมหายาน
                ซึ่งมีสายสัมพันธ์เชื่อมต่อมาจากอาณาจักรศรีวิชัย แต่ฝ่ายมหายานในสมัยนี้ผสมกับศาสนาพราหมณ์มาก
                ประชาชนในอาณาเขตต่าง ๆ ดังกล่าว จึงได้รับพระพุทธศาสนาทั้งแบบเถรวาทที่สืบมาแต่เดิมด้วย
                กับแบบมหายานและศาสนาพราหมณ์ที่เข้ามาใหม่ด้วย ทำให้มีผู้นับถือพระพุทธศาสนา ๒ แบบ และมีพระสงฆ์ทั้งสองฝ่าย
                คือฝ่ายเถรวาทและฝ่ายมหายาน และภาษาสันสกฤตอันเป็นภาษาหลักของศาสนาพราหมณ์
                และพระพุทธศาสนาฝ่ายมหายานก็ได้เริ่มเข้ามามีอิทธิพลในด้านภาษาและวรรณคดีไทยตั้งแต่บัดนั้นมา
                สำหรับศาสนสถานที่เป็นที่ประจักษ์พยานให้ได้ศึกษาถึงความเป็นมาแห่งพระพุทธศาสนาในประเทศไทยครั้งนั้น
                คือพระปรางค์สามยอดที่จังหวัดลพบุรี ปราสาทหินพิมาย ที่จังหวัดนครราชสีมา
                และปราสาทหินเขาพนมรุ้งที่จังหวัดบุรีรัมย์ เป็นต้น ส่วนพระพุทธรูปที่สร้างในสมัยนั้นก็เป็นแบบขอม
                ถือเป็นศิลปะอยู่ในกลุ่ม ศิลปสมัยลพบุรี
            </p>
        </div>
        <div>
            <h3> • พระพุทธศาสนา สมัยเถรวาทแบบพุกาม</h3>
            <p>
                ในสมัยที่พระเจ้าอนุรุทธมหาราช กษัตริย์พุกามเรืองอำนาจ ทรงรวบรวมเอาพม่ากับรามัญเข้าเป็นอาณาจักรเดียวกัน
                แล้วแผ่อาณาเขตเข้ามาถึงอาณาจักรล้านนา ล้านช้าง จนถึงลพบุรี และทวาราวดี
                พระเจ้าอนุรุทธทรงนับถือพระพุทธศาสนาฝ่ายเถรวาท ทรงส่งเสริมทำนุบำรุงพระพุทธศาสนาอย่างจริงจัง ส่วนชนชาติไทย
                หลังจากอาณาจักรอ้ายลาวสลายตัว ก็ได้มาตั้งอาณาจักรน่านเจ้า ถึงประมาณ พ.ศ. ๑๒๙๙
                ขุนท้าวกวาโอรสขุนบรมแห่งอาณาจักรน่านเจ้า ได้สถาปนาอาณาจักรโยนกเชียงแสนในสุวรรณภูมิ
                หลังจากนั้นคนไทยก็กระจัดกระจายอยู่ทั่วภาคเหนือ ภาคตะวันออกเฉียงเหนือ และภาคกลางของประเทศไทยปัจจุบัน
                เมื่อกษัตริย์พุกาม (กัมพูชา) เรืองอำนาจ คนไทยที่อยู่ในเขตอำนาจของขอม
                ก็ได้รับทั้งศาสนาและวัฒนธรรมของเขมรไว้ด้วย ส่วนทางล้านนาก็ได้รับอิทธิพลจากขอมเช่นเดียวกัน
                คือเมื่ออาณาจักรพุกามของกษัตริย์พม่าเข้ามาครอบครองดินแดนแถบนี้ ดังเห็นว่ามีปูชนียสถานแบบพม่าหลายแห่ง
                และเจดีย์ที่มีฉัตรอยู่บนยอด และฉัตรที่ ๔ มุมของเจดีย์ ก็ได้รับอิทธิพลมาจากพุกามแบบพม่า
            </p>
        </div>
        <div>
            <h3>• พระพุทธศาสนา สมัยสุโขทัย </h3>
            <p>
                <img src="http://www.dhammathai.org/thailand/pic/sukhothai.gif" alt="">
                <br>
                หลังจากอาณาจักรพุกามและกัมพูชาเสื่อมอำนาจลง คนไทยจึงได้ตั้งตัวเป็นอิสระ ได้ก่อตั้งอาณาจักรขึ้นเอง ๒
                อาณาจักร ได้แก่ อาณาจักรล้านนา อยู่ทางภาคเหนือของไทย และอาณาจักรสุโขทัย
                มีศูนย์กลางอยู่ที่จังหวัดสุโขทัยปัจจุบัน เมื่อพ่อขุนรามคำแหงเสด็จขึ้นครองราชย์
                ทรงสดับกิตติศัพท์ของพระสงฆ์ลังกา จึงทรงอาราธนาพระมหาเถระสังฆราช
                ซึ่งเป็นพระเถระชาวลังกาที่มาเผยแผ่อยู่ที่นครศรีธรรมราช มาเผยแผ่พระพุทธศาสนาในกรุงสุโขทัย
                พระพุทธศาสนาแบบลังกาวงศ์ได้เข้ามาเผยแผ่ในประเทศไทย ถึง ๒ ครั้ง คือครั้งที่ ๑ ในสมัยพ่อขุนรามคำแหง
                ครั้งที่ ๒ ในสมัยพระเจ้าลิไท พระพุทธศาสนาเจริญรุ่งเรืองมาก กษัตริย์ทุกพระองค์ทรงปกครองบ้านเมืองโดยธรรม
                มีความสงบร่มเย็น ประชาชนเป็นอยู่โดยผาสุก ศิลปะสมัยสุโขทัยได้รับการกล่าวขานว่างดงามมาก
                โดยเฉพาะพระพุทธรูปสมัยสุโขทัย มีลักษณะงดงาม ไม่มีศิลปะสมัยใดเหมือน
            </p>
        </div>
        <div>
            <h3>•พระพุทธศาสนา สมัยอยุธยา </h3>
            <p>
                <img src="http://www.dhammathai.org/thailand/pic/ayuthaya.jpg" alt="">
                <br>
                พระพุทธศาสนาในสมัยอยุธยาได้รับอิทธิพลของพราหมณ์เข้ามามาก พิธีกรรมต่าง ๆ ได้ปะปนพิธีของพราหมณ์
                เน้นความขลังความศักดิ์สิทธิ์ และอิทธิปาฏิหาริย์ มีเรื่องไสยศาสตร์เข้ามาปะปนอยู่มาก
                ประชาชนมุ่งเรื่องการบุญการกุศล สร้างวัดวาอาราม สร้างปูชนียวัตถุ บำรุงศาสนาเป็นส่วนมาก
                ในสมัยอยุธยาต้องประสบกับภาวะสงครามกับพม่า จนเกิดภาวะวิกฤตทางศาสนาหลายครั้ง ประวัติศาสตร์อยุธยาแบ่งเป็น
            </p>
            <h3>•อยุธยาตอนแรก (พ.ศ. ๑๙๙๑ - ๒๐๓๑)</h3>
            <p>
                ในสมัยพระบรมไตรโลกนาถ ทรงปกครองบ้านเมืองด้วยความสงบร่มเย็น ทรงทำนุบำรุงพระพุทธศาสนา ทรงผนวชเป็นเวลา ๘
                เดือน เมื่อ พ.ศ. ๑๙๙๘ และทรงให้พระราชโอรสกับพระราชนัดดาผนวชเป็นสามเณรด้วย
                สันนิษฐานว่าเป็นการเริ่มต้นของประเพณีการบวชเรียนของเจ้านายและข้าราชการ ในรัชสมัยของพระองค์
                ได้มีการรจนาหนังสือมหาชาติคำหลวง ใน พ.ศ. ๒๐๒๕
            </p>
            <h3>•สมัยอยุธยาตอนที่สอง ( พ.ศ. ๒๐๓๔ - ๒๑๗๓)</h3>
            <p>
                สมัยนี้ได้มีความนิยมในการสร้างวัดขึ้น ทั้งกษัตริย์และประชาชนทั่วไป นิยมสร้างวัดประจำตระกูล
                ในสมัยพระเจ้าทรงธรรมได้พบพระพุทธบาทสระบุรี ทรงให้สร้างมณฑปครอบพระพุทธบาทไว้
                และโปรดให้ชุมชนราชบัณฑิตแต่งกาพย์มหาชาติ เมื่อ พ.ศ. ๒๑๗๐ และโปรดให้สร้างพระไตรปิฎกด้วย
            </p>
            <h3>•สมัยอยุธยาตอนที่สาม (พ.ศ. ๒๑๗๓ - ๒๓๑๐) </h3>
            <p>
                พระมหากษัตริย์ที่มีพระนามยิ่งใหญ่ที่สุดในศตวรรษนี้ ได้แก่สมเด็จพระนารายณ์มหาราช
                พระองค์ทรงมีบทบาทอย่างมากทั้งต่อฝ่ายอาณาจักรและศาสนจักร ทรงส่งเสริมพระพุทธศาสนาอย่างแรงกล้า
                สมัยนี้พวกฝรั่งเศสได้เข้ามาติดต่อกับไทย และได้พยายามเผยแผ่ศาสนา และทูลขอให้พระนารายณ์เข้ารีต
                แต่พระองค์ทรงมั่นคงในพระพุทธศาสนา ทรงนำพาประเทศชาติรอดพ้นจากการเป็นเมืองของฝรั่งเศสได้
                เพราะมีพระราชศรัทธาต่อพระพุทธศาสนาอย่างจริงจัง
            </p>
            <h3>•สมัยอยุธยาตอนที่สี่ (พ.ศ. ๒๒๗๕ - ๒๓๑๐) </h3>
            <p>
                พระมหากษัตริย์ที่ทรงมีบทบาทมากในยุคนี้ ได้แก่สมเด็จพระเจ้าอยู่หัวบรมโกศ ทรงเสวยราช เมื่อ พ.ศ. ๒๒๗๕
                การบวชเรียนกลายเป็นประเพณีที่ปฏิบัติสืบต่อกันมาถึงยุคหลัง ถึงกับกำหนดให้ผู้ที่จะเป็นขุนนาง
                มียศถาบรรดาศักดิ์ต้องเป็นผู้ที่ผ่านการบวชเรียนมาเท่านั้น จึงจะทรงแต่งตั้งตำแหน่งหน้าที่ให้
                ในสมัยนี้ได้ส่งพระภิกษุเถระชาวไทยไปฟื้นฟูพุทธศาสนาในประเทศลังกาตามคำทูลขอของกษัตริย์ลังกา เมื่อ พ.ศ.
                ๒๒๙๖ จนทำให้พุทธศาสนากลับเจริญรุ่งเรืองในลังกาอีกครั้ง จนถึงปัจจุบัน
                และเกิดนิกายของคณะสงฆ์ไทยขึ้นในลังกา ชื่อว่า นิกายสยามวงศ์ นิกายนี้ยังคงมีอยู่ถึงปัจจุบัน
            </p>
        </div>
        <div>
            <h3>•พระพุทธศาสนา สมัยกรุงธนบุรี </h3>
            <p>
                ปี พ.ศ. ๒๓๑๐ กรุงศรีอยุธยาถูกพม่ายกทัพเข้าตีจนบ้านเมืองแตกยับเยิน พม่าได้ทำลายบ้านเมืองเสียหายย่อยยับ
                เก็บเอาทรัพย์สินไป กวาดต้อนประชาชนแม้กระทั่งพระสงฆ์ไปเป็นเชลยเป็นจำนวนมาก วัดวาอารามถูกเผาทำลาย
                ครั้นต่อมาพระเจ้าตากสินมหาราชทรงเป็นผู้นำในการกอบกู้อิสระภาพ สามารถกอบกู้เอกราชจากพม่าได้
                ทรงตั้งราชธานีใหม่ คือเมืองธนบุรี ทรงครองราชและปกครองแผ่นดินสืบมา
                ทรงบูรณะปฏิสังขรณ์วัดวาอารามและสร้างวัดเพิ่มเติมอีกมาก
                ทรงรับภาระบำรุงพระพุทธศาสนารวบรวมคัมภีร์พระไตรปิฎกจากหัวเมือง มาคัดเลือกจัดเป็นฉบับหลวง
                แต่ไม่ยังทันเสร็จบริบูรณ์ก็สิ้นรัชกาลเสียก่อน ต่อมา พ.ศ. ๒๓๒๒
                กองทัพไทยได้อัญเชิญพระแก้วมรกตจากเวียงจันทน์มายังประเทศไทย
                ภายหลังพระองค์ถูกสำเร็จโทษเป็นอันสิ้นสุดสมัยกรุงธนบุรี
            </p>
        </div>
        <div>
            <h3>พระพุทธศาสนา สมัยรัตนโกสินทร์</h3>
            <img src="http://www.dhammathai.org/thailand/pic/rattanakosin.jpg" alt="">
            <br>
            <p>
                รัชกาลที่ ๑ (๒๓๒๕ - ๒๓๕๒)
                พระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราช เสด็จขึ้นครองราชย์เมื่อปี พ.ศ. ๒๓๒๕ ต่อจากพระเจ้าตากสินมหาราช
                ทรงย้ายเมืองจากธนบุรี มาตั้งราชธานีใหม่ เรียกชื่อว่า "กรุงเทพมหานครอมรรัตนโกสินทร์"
                ทรงสร้างและปฏิสังขรณ์วัดต่าง ๆเช่นสร้างวัดพระศรีรัตนศาสดาราม วัดสุทัศนเทพวราราม วัดสระเกศ
                และวัดพระเชตุพน ฯ เป็นต้น ทรงโปรดให้มีการสังคายนาพระไตรปิฎกครั้งที่ ๙ และถือเป็นครั้งที่ ๒ ในประเทศไทย ณ
                วัดมหาธาตุ ได้มีการสอนพระปริยัติธรรมในพระบรมมหาราชวัง ตลอดจนตามวังเจ้านายและบ้านเรือนของข้าราชการผู้ใหญ่
                ทรงตรากฎหมายคณะสงฆ์ขึ้น เพื่อจัดระเบียบการปกครองของสงฆ์ให้เรียบร้อย
                ทรงจัดให้มีการสอบพระปริยัติธรรมทรงสถาปนาสมเด็จพระสังฆราชองค์แรกของกรุงรัตนโกสินทร์ โดยสถาปนาพระสังฆราช
                (ศรี) เป็นสมเด็จพระสังฆราช เมื่อปี พ.ศ. ๒๓๕๒
            </p>
            <h3> รัชกาลที่ ๒ (๒๓๕๒- ๒๓๖๗) </h3>
            <p>
                พระบาทสมเด็จพระพุทธเลิศหล้านภาลัย เสด็จขึ้นครองราชย์เมื่อ พ.ศ. ๒๓๕๒
                เป็นทรงทำนุบำรุงส่งเสริมพระพุทธศาสนาเหมือนอย่างพระมหากษัตริย์ไทยแต่โบราณ
                ในรัชสมัยของพระองค์ได้ทรงสถาปนาสมเด็จพระสังฆราชถึง ๓ พระองค์ คือ สมเด็จพระสังฆราช( สุก )
                สมเด็จพระสังฆราช( มี ) และสมเด็จพระสังฆราช ( สุก ญาณสังวร)
                ในปี พ.ศ. ๒๓๕๗ ทรงจัดส่งสมณทูต ๘ รูป ไปฟื้นฟูพระพุทธศาสนาในประเทศลังกา
                ได้จัดให้มีการจัดงานวันวิสาขบูชาขึ้นเป็นครั้งแรกในสมัยกรุงรัตนโกสินทร์ เมื่อ พ.ศ. ๒๓๖๐
                ซึ่งแต่เดิมก็เคยปฏิบัติถือกันมาเมื่อครั้งกรุงสุโขทัย แต่ได้ขาดตอนไปตั้งแต่เสียกรุงศรีอยุธยาแก่พม่า
                จึงได้มีการฟื้นฟูวันวิสาขบูชาใหม่ ได้โปรดให้มีการเปลี่ยนแปลงแก้ไขวิธีการสอบไล่ปริยัติธรรมขึ้นใหม่
                ได้ขยายหลักสูตร ๓ ชั้น คือ เปรียญตรี -โท - เอก เป็น ๙ ชั้น คือชั้นประโยค ๑ - ๙
            </p>

            <h3>รัชกาลที่ ๓ (๒๓๖๗ - ๒๓๙๔) </h3>
            <p>
                พระบาทสมเด็จพระนั่งเกล้าเจ้าอยู่หัวโปรดให้มีการสร้างพระไตรปิฎกฉบับหลวงเพิ่มจำนวนขึ้นไว้อีกหลายฉบับครบถ้วนกว่ารัชกาลก่อน
                ๆ โปรดให้แปลพระไตรปิฎกเป็นภาษาไทย ทรงบูรณะปฏิสังขรณ์วัดวาอารามหลายแห่ง และสร้างวัดใหม่ คือวัดเทพธิดาราม
                วัดราชนัดดา และวัดเฉลิมพระเกียรติ ได้ตั้งโรงเรียนหลวงขึ้นเป็นครั้งแรก
                เพื่อสอนหนังสือไทยแก่เด็กในสมัยนี้ได้เกิดนิกายธรรมยุติขึ้น โดยพระวชิรญาณเถระ (เจ้าฟ้ามงกุฏ)
                ขณะที่ผนวชอยู่ได้ทรงศรัทธาเลื่อมใสในจริยาวัตรของพระมอญ ชื่อ ซาย ฉายา พุทฺธวํโส จึงได้ทรงอุปสมบทใหม่
                เมื่อ พ.ศ. ๒๓๗๒ ได้ตั้งคณะธรรมยุติขึ้นในปี พ.ศ. ๒๓๗๖ แล้วเสด็จมาประทับที่วัดบวรนิเวศวิหาร
                และตั้งเป็นศูนย์กลางของคณะธรรมยุติ
            </p>
            <h3>รัชกาลที่ ๔ (๒๓๙๔ -๒๔๑๑) </h3>
            <p>
                พระบาทสมเด็จพระจอมเกล้าเจ้าอยู่หัว รัชกาลที่ ๔ เมื่อทรงเป็นเจ้าฟ้ามงกุฎได้ผนวช ๒๗
                พรรษาแล้วได้ลาสิกขาขึ้นครองราชย์เมื่อพระชนมายุ ๕๗ พรรษา ใน พ.ศ. ๒๒๓๙๔ ด้านการพระศาสนา
                ทรงพระราชศรัทธาสร้างวัดใหม่ขึ้นหลายวัด เช่นวัดปทุมวนาราม วัดโสมนัสวิหาร วัดมกุฎกษัตริยาราม
                วัดราชประดิษฐสถิตมหาสีมาราม และวัดราชบพิตร เป็นต้น ตลอดจนบูรณะวัดต่าง ๆ อีกมาก โปรดให้มีพระราชพิธี
                "มาฆบูชา" ขึ้นเป็นครั้งแรก ใน พ.ศ. ๒๓๙๔ ณ ที่วัดพระศรีรัตนศาสดาราม จนได้ถือปฏิบัติสืบมาจนถึงทุกวันนี้
            </p>
            <h3>รัชกาลที่ ๕ (๒๔๑๑ - ๒๔๕๓) </h3>
            <p>
                พระบาทสมเด็จพระจอมเกล้าเจ้าอยู่หัวเสด็จขึ้นครองราชย์ เมื่อ พ.ศ. ๒๔๑๑ ทรงยกเลิกระบบทาสในเมืองไทยได้สำเร็จ
                ทรงสร้างวัดใหม่ขึ้น คือวัดวัดราชบพิตร วัดเทพศิรินทราวาส วัดเบญจมบพิตร วัดอัษฎางนิมิตร
                วัดจุฑาทิศราชธรรมสภา และวัดนิเวศน์ธรรมประวัติ ทรงบูรณะวัดมหาธาตุ และวัดอื่น ๆ อีก
                ทรงนิพนธ์วรรณกรรมทางพุทธศาสนาจำนวนมาก โปรดใหั้มีการเริ่มต้นการศึกษาแบบสมัยใหม่ในประเทศไทย
                โดยให้พระสงฆ์รับภาระช่วยการศึกษาของชาติ ครั้น พ.ศ. ๒๔๒๗ ได้จัดตั้งโรงเรียนสำหรับราษฎรขึ้นเป็นแห่งแรก ณ
                วัดมหรรณพาราม ถึงปี พ.ศ. ๒๔๑๔ โปรดให้จัดการศึกษาแก่ประชาชนในหัวเมือง โดยจัดตั้งโรงเรียนในหัวเมืองขึ้น
                เมื่อ พ.ศ. ๒๔๓๕ มีพระบรมราชโองการประกาศตั้งกรมธรรมการเป็นกระทรวงธรรมการ (กระทรวงศึกษาธิการปัจจุบัน)
                โปรดให้มีการพิมพ์พระไตรปิฎกด้วยอักษรไทย จบละ ๓๙ เล่ม จำนวน ๑,๐๐๐ จบ พ.ศ. ๒๔๓๒
                โปรดให้ย้ายที่ราชบัณฑิตบอกพระปริยัติธรรมแก่พระภิกษุสามเณร จากในวัดพระศรีรัตนศาสดาราม
                ออกมาเป็นบาลีวิทยาลัย ชื่อมหาธาตุวิทยาลัย ที่วัดมหาธาตุ และต่อมาปี พ.ศ. ๒๔๓๙
                ได้ประกาศเปลี่ยนนามมหาธาตุวิทยาลัยเป็นมหาจุฬาลงกรณราชวิทยาลัย
                เป็นที่ศึกษาพระปริยัติธรรมและวิชาการชั้นสูงของพระภิกษุสามเณร
                ปี พ.ศ. ๒๔๓๖ สมเด็จพระมหาสมณเจ้า กรมพระยาวชิรญาณวโรรส ทรงจัดตั้ง "มหามกุฏราชวิทยาลัย" ขึ้น
                เพื่อเป็นแหล่งศึกษาพระพุทธศาสนาแก่พระภิกษุสามเณรฝ่ายธรรมยุตินิกาย
                พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวทรงเสด็จเปิดในปีเดียวกัน

                รัชกาลที่ ๖ (๒๔๕๓- ๒๔๖๘)
                พระบาทสมเด็จพระมงกุฏเกล้าเจ้าอยู่หัว เสด็จขึ้นครองราชย์ ทรงพระปรีชาปราดเปรื่องในความรู้ทางพระศาสนามาก
                ทรงนิพนธ์หนังสือแสดงคำสอนในพระพุทธศาสนาหลายเรื่อง เช่น เทศนาเสือป่า พระพุทธเจ้าตรัสรู้อะไร เป็นต้น
                ถึงกับทรงอบรมสั่งสอนอบรมข้าราชการด้วยพระองค์เอง ทรงโปรดให้ใช้ พุทธศักราช (พ.ศ.) แทน ร.ศ. เมื่อ พ.ศ. ๒๔๕๖
                ให้เปลี่ยนกระทรวงธรรมการเป็นกระทรวงศึกษาธิการ
                ในปี พ.ศ. ๒๔๕๔ สมเด็จพระมหาสมณเจ้า กรมพระยาวชิรญาณวโรรส
                ทรงเปลี่ยนวิธีการสอบบาลีสนามหลวงจากปากเปล่ามาเป็นข้อเขียน เป็นครั้งแรก
                พ.ศ. ๒๔๖๙ ทรงเริ่มการศึกษาพระปริยัติธรรมใหม่ขึ้นอีกหลักสูตรหนึ่ง เรียกว่า "นักธรรม"
                โดยมีการสอบครั้งแรกเมื่อ เดือนตุลาคม ๒๔๕๔ ตอนแรกเรียกว่า "องค์ของสามเณรรู้ธรรม"
                พ.ศ. ๒๔๖๒ ถึง พ.ศ. ๒๔๖๓ โปรดให้พิมพ์คัมภีร์อรรถกถาแห่งพระไตรปิฎกและอรรถกถาชาดก และคัมภีร์อื่น ๆ
                เช่นวิสุทธิมรรค มิลินทปัญหา เป็นต้น

                รัชกาลที่ ๗ (๒๔๖๘ - ๒๔๗๗)
                พระบาทสมเด็จพระปกเกล้าเจ้าอยู่หัว ทรงโปรดให้มีการทำสังคายนาพระไตรปิฎกขึ้น ตั้งแต่ พ.ศ. ๒๔๖๘ - ๒๔๗๓
                เพื่อถวายเป็นพระราชกุศลแด่พระบาทสมเด็จพระเจ้าอยู่หัว รัชกาลที่ ๖ เป็นการสังคายนาครั้งที่ ๓ ในเมืองไทย
                แล้วทรงจัดให้พิมพ์พระไตรปิฎกฉบับสยามรัฐ ชุดละ ๔๕ เล่ม จำนวน ๑,๕๐๐ ชุด และพระราชทานแก่ประเทศต่าง ๆ ประมาณ
                ๕๐๐ ชุด โปรดให้ย้ายกรมธรรมการกลับเข้ามารวมกับกระทรวงศึกษาธิการ
                และเปลี่ยนชื่อกระทรวงศึกษาธิการเป็นกระทรวงธรรมการอย่างเดิม โดยมีพระราชดำริว่า
                "การศึกษาไม่ควรแยกออกจากวัด" ต่อมาปี พ.ศ. ๒๔๗๑
                กระทรวงธรรมการประกาศเพิ่มหลักสูตรทางจริยศึกษาสำหรับนักเรียน ได้เปิดให้ฆราวาสเรียนพระปริยัติธรรม แผนกธรรม
                โดยจัดหลักสูตรใหม่ เรียกว่า "ธรรมศึกษา" ในรัชสมัยรัชกาลที่ ๗
                ได้มีการเปลี่ยนแปลงการปกครองครั้งยิ่งใหญ่ของไทย เมื่อคณะราษฎร์ได้ทำการปฏิวัติ
                เปลี่ยนแปลงการปกครองจากระบอบสมบูรณาญาสิทธิราช เป็นระบอบประชาธิปไตย เมื่อวันที่ ๒๔ มิถุนายน พ.ศ. ๒๔๗๕
                ต่อมาพระบาทสมเด็จพระปกเกล้าเจ้าอยู่หัวทรงสละราชสมบัติเมื่อ พ.ศ. ๒๔๗๗
                ต่อมาพระบาทสมเด็จพระเจ้าอยู่หัวอานันทมหิดลขึ้นครองราชย์เป็นรัชกาลที่ ๘

            </p>
            <h3>รัชกาลที่ ๘ (๒๔๗๗ - ๒๔๘๙) </h3>
            <p>
                พระบาทสมเด็จพระเจ้าอยู่อยู่หัวอานันทมหิดล เสด็จขึ้นครองราชเป็นรัชกาลที่ ๘ ในขณะพระพระชนมายุ เพียง ๙
                พรรษาเท่านั้น และยังกำลังทรงศึกษาอยู่ในต่างประเทศ จึงมีผู้สำเร็จราชการแทนพระองค์
                ในด้านการศาสนาได้มีการแปลพระไตรปิฎกเป็นภาษาไทย แบ่งเป็น ๒ ประเภท คือ
                ๑. พระไตรปิฎก แปลโดยอรรถ พิมพ์เป็นเล่มสมุด ๘๐ เล่ม เรียกว่าพระไตรปิฎกภาษาไทย แต่ไม่เสร็จสมบูรณ์
                และได้ทำต่อจนเสร็จเมื่องานฉลอง ๒๕ พุทธศตวรรษ เมื่อปี พ.ศ. ๒๕๐๐
                ๒. พระไตรปิฎก แปลโดยสำนวนเทศนา พิมพ์ใบลาน แบ่งเป็น ๑๒๕๐ กัณฑ์ เรียกว่า พระไตรปิฎกฉบับหลวง เสร็จเมื่อ
                พ.ศ. ๒๔๙๒
                พ.ศ. ๒๔๘๔ ได้เปลี่ยนชื่อกระทรวงธรรมการเป็นกระทรวงศึกษาธิการ และกรมธรรมการเปลี่ยนเป็น กรมการศาสนา
                และในปีเดียวกัน รัฐบาลได้ออก พ.ร.บ. คณะสงฆ์ พ.ศ. ๒๔๘๔ เมื่อวันที่ ๑๔ ตุลาคม
                เพื่อให้การปกครองคณะสงฆ์มีความสอดคล้องเหมาะสมกับการปกครองแบบใหม่
                พ.ศ. ๒๔๘๘ มหามกุฎราชวิทยาลัย ซึ่งตั้งขึ้นเมื่อ พ.ศ. ๒๔๓๖ ได้ประกาศตั้งเป็นมหาวิทยาลัยสงฆ์ ชื่อ
                "สภาการศึกษามหามกุฏราชวิทยาลัย" เมื่อวันที่ ๑๐ ธันวาคม
                พ.ศ. ๒๔๙๘ พระบาทสมเด็จพระเจ้าอยู่หัวอานันทมหิดลได้ถูกลอบปลงพระชนม์ เมื่อวันที่ ๙ มิถุนายน
                พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดช เสด็จขึ้นครองราช เป็นรัชกาลที่ ๙ รัชกาลปัจจุบัน

                สมัยรัชกาลที่ ๙ (ตั้งแต่ พ.ศ. ๒๔๘๙ สืบมา)
                พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดช ได้เสด็จขึ้นครองราชย์เป็นราชกาลที่ ๙ สืบต่อมา
                ทรงมีพระราชศรัทธาในพระพุทธศาสนา และทรงเป็นศาสนูปถัมภก ทรงให้การอุปถัมภ์แก่ทุกศาสนา
                และทรงปกครองบ้านเมืองโดยสงบร่มเย็น ตามระบอบประชาธิปไตยอันมีพระมหากษัตริย์ทรงเป็นประมุข
                ในรัชสมัยรัชกาลปัจจุบัน ได้มีการส่งเสริมพุทธศาสนาด้านต่าง ๆ มากมาย ดังนี้
                - ด้านการศึกษา ประชาชนได้สนใจศึกษาพุทธศาสนามากขึ้นตามลำดับ ได้มีการจัดตั้งสมาคม
                มูลนิธิทางพุทธศาสนาเพื่อการศึกษามากมาย มีการจัดตั้งชมรมพุทธศาสตร์ ในมหาวิทยาลัยและสถาบันการศึกษาต่าง ๆ
                พ.ศ. ๒๔๙๐ มหาจุฬาลงกรณราชวิทยาลัย ซึ่งตั้งขึ้นตั้งแต่ พ.ศ. ๒๔๓๒
                ได้ประกาศตั้งเป็นมหาวิทยาลัยฝ่ายพระพุทธศาสนาขึ้น เมื่อวันที่ ๙ มกราคม ๒๔๙๐ และเปิดการศึกษาเมื่อวันที่ ๑๘
                กรกฎาคม ๒๔๙๐ เป็นต้นมาจนถึงปัจจุบัน ส่วนการศึกษาของพระสงฆ์ได้มีการยกระดับมาตรฐานการศึกษา
                เช่นยกระดับมหาวิทยาลัยสงฆ์ทั้ง ๒ แห่ง คือมหาจุฬาลงกรณราชวิทยาลัย และมหามกุฏราชวิทยาลัย
                ได้เปิดการเรียนการสอนระดับอุดมศึกษาแก่พระภิกษุสามเณรในระดับปริญญาตรี ปริญญาโท
                และมีนโยบายจะเปิดระดับปริญญาเอกในอนาคต ได้มีการรับรองวิทยฐานะเทียบเท่ากับมหาวิทยาลัยสากลทั่วไป
                และได้ออกกฏหมาย พ.ร.บ.มหาวิทยาลัยสงฆ์ทั้ง ๒ แห่ง โดยรัฐสภาเมื่อ พ.ศ. ๒๕๔๐ มีชื่อว่า
                "มหาวิทยาลัยมหาจุฬาลงกรณราชวิทยาลัย และ "มหาวิทยาลัยมหามกุฏราชวิทยาลัย"
                ปัจจุบันนี้ได้มีวิทยาเขตต่างจังหวัดอีกหลายแห่ง เช่น เชียงใหม่ พะเยา แพร่ ลำพูน นครสวรรค์ ขอนแก่น
                อุบลราชธานี นครราชสีมา หนองคาย นครปฐม นครศรีธรรมราช เป็นต้น ส่วนการศึกษาด้านอื่น
                ได้มีการจัดตั้งโรงเรียนปริยัติธรรมแผนกสามัญ ระดับประถมปลาย และ ม.๑ ถึง ม.๖ เมื่อปี พ.ศ. ๒๕๑๔ ในปี พ.ศ.
                ๒๕๐๑ ได้มีการจัดตั้งโรงเรียนพุทธศาสนาวัดอาทิตย์ขึ้นเป็นแห่งแรก ณ มหาจุฬาลงกรณราชวิทยาลัย
                เพื่อเปิดการสอนพุทธศาสนาแก่เด็กและเยาวชน จนได้แพร่ขยายไปทั่วประเทศ
                - ด้านการเผยแผ่ ได้มีการเผยแผ่พระพุทธศาสนาอย่างจริงจัง ทั้งในและต่างประเทศ
                ในประเทศไทยได้มีองค์กรเผยแผ่ธรรมในแต่ละจังหวัด โดยได้จัดตั้งพุทธสมาคมประจำจังหวัดขึ้น
                ส่วนพระสงฆ์ได้มีบทบาทในการเผยแผ่มากขึ้น โดยใช้สื่อของรัฐ เช่น โทรทัศน์ วิทยุ เป็นต้น
                กระทรวงศึกษาธิการได้กำหนดเอาวิชาพระพุทธศาสนาเป็นวิชาภาคบังคับแก่นักเรียนระดับมัธยมศึกษา ตั้งแต่ ม. ๑ ถึง
                ม. ๖ พระสงฆ์จึงได้มีบทบาทในการเข้าไปสอนในโรงเรียนต่าง ๆ มีการประยุกต์การเผยแผ่ธรรมในรูปแบบต่าง ๆ
                เช่นการบรรยาย ปาฐกถา และเขียนหนังสืออธิบายพุทธธรรมมากขึ้น ทั้งภาษาไทยและภาษาต่างประเทศ
                เช่นมีพระเถระนักปราชญ์ชาวไทยในยุคนี้ ได้แก่ ท่านพุทธทาสภิกขุ และพระธรรมปิฎก (ประยุทธ์ ปยุตฺโต) เป็นต้น
                ในต่างประเทศได้มีการสร้างวัดไทยในต่างประเทศหลายวัด เช่นวัดไทยพุทธคยา ประเทศอินเดีย
                เป็นวัดไทยแห่งแรกในต่างประเทศ ต่อจากนั้นได้มีการสร้างวัดไทยในประเทศตะวันตก คือวัดพุทธประทีป กรุงลอนดอน
                พระบาทสมเด็จพระเจ้าอยู่หัวทรงเสด็จเปิด เมื่อวันที่ ๑ สิงหาคม พ.ศ. ๒๕๐๙
                นับเป็นวัดไทยวัดแรกในประเทศตะวันตก ต่อมาปี พ.ศ. ๒๕๑๔ ได้มีการสร้างวัดแห่งแรกในประเทศสหรัฐอเมริกา
                ที่นครลอสแองเจลิส รัฐแคลิฟอเนีย ชื่อว่า วัดไทยลอสแองเจลิส ปัจจุบันมีวัดไทยในสหรัฐอเมริกา ประมาณ ๑๕ วัด
                นอกจากนั้นได้มีองค์การเผยแผ่พระพุทธศาสนาในต่างประเทศของคณะสงฆ์ไทย
                ได้จัดให้มีการอบรมพระธรรมทูตสายต่างประเทศขึ้นประจำทุกปี เพื่อส่งไปเผยแผ่พุทธศาสนาในต่างประเทศ
                โดยเฉพาะทางตะวันตก ปัจจุบันนี้ชาวตะวันตกได้หันมาสนใจพุทธศาสนากันมาก ปี พ.ศ. ๒๕๐๘
                ได้มีการจัดตั้งสำนักงานองค์การพุทธศาสนิกสัมพันธ์แห่งโลกขึ้น ณ ประเทศไทย ( พ.ส.ล. )
                เพื่อเป็นศูนย์กลางของชาวพุทธทั่วโลก
                - ด้านพิธีกรรม ได้มีการเปลี่ยนแปลงพระราชพิธีต่าง ๆ ที่เป็นพระราชพิธีของพระมหากษัตริย์
                ให้เป็นพิธีของรัฐบาล เรียกว่า "รัฐพิธี" โดยให้กรม กระทรวงต่าง ๆ เป็นผู้จัด
                จัดให้มีงานส่งเสริมพระพุทธศาสนาช่วงวันวิสาขบูชาของทุกปี
                พระบาทสมเด็จพระเจ้าอยู่หัวทรงพระกรุณาโปรดเกล้าให้พระบรมวงศานุวงศ์
                เสด็จแทนพระองค์ในพิธีเวียนเทียนในวันสำคัญทางพุทธศาสนาเช่นวันวิสาขบูชา มาฆบูชา อาสาฬหบูชา ณ พุทธมณฑล
                ซึ่งสร้างขึ้น เมื่อคราว ฉลอง ๒๕ พุทธศตวรรษ
                - ด้านวรรณกรรม ได้มีวรรณกรรมทางพุทธศาสนาเกิดขึ้นมากมาย มีปราชญ์ทางพุทธศาสนาเกิดขึ้นหลายรูป
                จึงได้เกิดวรรณกรรมทั้งประเภทร้อยแก้วและร้อยกรองมากมายหลายเล่ม เช่นพุทธประวัติจากพระโอษฐ์
                ปฏิจจสมุปบาทจากพระโอษฐ์ ของท่านพุทธทาสภิกขุ หนังสือ พุทธธรรม ของพระธรรมปิฎก (ประยุทธ์ ปยุตฺโต) เป็นต้น
            </p>
            <h3></h3>
            <p>

            </p>
            <h3></h3>
            <p>

            </p>
            <h3></h3>
            <p>

            </p>
            <h3></h3>
            <p>

            </p>
        </div>
</body>

</html>