<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>พระพุทธศาสนาในประเทศไทย</h1>
    <div>
        <p>พระพุทธศาสนาเข้ามาสู่ดินแดนประเทศไทย เมื่อประมาณ พ.ศ. ๒๓๖ สมัยเดียวกันกับประเทศลังกา
            ด้วยการส่งพระสมณทูตไปเผยแผ่พระพุทธศาสนาในประเทศต่าง ๆ ๙ สาย โดยการอุปถัมภ์ของพระเจ้าอโศกมหาราช
            กษัตริย์อินเดีย ในขณะนั้นประเทศไทยรวมอยู่ในดินแดนที่เรียกว่าสุวรรณภูมิ ซึ่งมีขอบเขตกว้างขวาง
            มีประเทศรวมกันอยู่ในดินแดนส่วนนี้ไม่น้อยกว่า ๗ ประเทศ ได้แก่ ไทย พม่า ศรีลังกา ญวน กัมพูชา ลาว มาเลเซีย
            ซึ่งสันนิษฐานว่ามีใจกลางอยู่ที่จังหวัดนครปฐมของไทย เนื่องจากได้พบโบราณวัตถุที่สำคัญ เช่นพระปฐมเจดีย์
            และรูปธรรมจักรกวางหมอบเป็นหลักฐานสำคัญ แต่พม่าก็สันนิษฐานว่ามีในกลางอยู่ที่เมืองสะเทิม ภาคใต้ของพม่า
            พระพุทธศาสนาเข้ามาสู่สุวรรณภูมิในยุคนี้ นำโดยพระโสณะและพระอุตตระ พระเถระชาวอินเดีย
            เดินทางมาเผยแผ่พุทธศาสนาในแถบนี้ จนเจริญรุ่งเรืองมาตามลำดับ ตามยุคสมัยต่อไปนี้
        </p>
    </div>
    <div>
        <h3>•พระพุทธศาสนา สมัยทวาราวดี</h3>
        <p>
            ผืนแผ่นดินจุดแรกของอาณาจักรสุวรรณภูมิ หรือที่เรียกกันว่า "แหลมทอง" ซึ่งท่าน
            พระโสณะกับพระอุตตระได้เดินทางจากชมพูทวีปเข้ามาประดิษฐานนั้น จดหมายเหตุของหลวงจีนเหี้ยนจัง เรียกว่า
            "ทวาราวดี" สันนิษฐานว่าได้แก่ที่จังหวัดนครปฐม เพราะมีโบราณสถานและโบราณวัตถุต่าง ๆ เช่น พระปฐมเจดีย์
            ศิลารูปพระธรรมจักร เป็นต้น ปรากฏว่าเป็นหลักฐานประจักษ์พยานอยู่ พระพุทธศาสนาที่เข้ามาในครั้งนี้
            เป็นแบบเถรวาทดั้งเดิม พุทธศาสนิกชนได้มีความศรัทธาเลื่อมใสบวชเป็นพระภิกษุจำนวนมาก
            และได้สร้างสถูปเจดีย์ไว้สักการะบูชา เรียกว่า สถูปรูปฟองน้ำ เหมือนสถูปสาญจีในอินเดีย
            ที่พระเจ้าอโศกทรงสร้างขึ้น ศิลปะในยุคนี้เรียกว่า ศิลปะแบบทวาราวดี
        </p>
    </div>
    <div>
        <h3>•พระพุทธศาสนา สมัยอาณาจักรอ้ายลาว</h3>
        <p>
            พระพุทธศาสนาในยุคนี้เป็นแบบมหายาน ในสมัยที่ขุนนางเม้ากษัตริย์ไทย ก่อนที่จะอพยพเข้ามาสู่ประเทศไทยปัจจุบัน
            ครองราชย์อยู่ในอาณาจักรอ้ายลาว ได้รับเอาพระพุทธศาสนามหายานผ่านมาทางประเทศจีน
            โดยการนำของพระสมณทูตชาวอินเดียมาเผยแผ่ ในคราวที่พระเจ้ากนิษกะมหาราชทรงอุปถัมภ์การสังคายนาครั้งที่ ๔
            ของฝ่ายมหายาน ณ เมืองชลันธร พระสมณทูตได้เข้ามาเผยแผ่พระพุทธศาสนาในเอเซียกลาง พระเจ้ามิ่งตี่
            กษัตริย์จีนทรงรับพระพุทธศาสนาไปเผยแผ่ในจีน และได้ส่งทูตมาเจริญสัมพันธไมตรีกับอาณาจักรอ้ายลาว
            คณะทูตได้นำเอาพระพุทธศาสนามาด้วย ทำให้หัวเมืองไทยทั้ง ๗๗ มีราษฎร ๕๑,๘๙๐ ครอบครัว
            หันมานับถือพระพุทธศาสนาแบบมหายานเป็นครั้งแรก
        </p>
        <div>
            <h3>• พระพุทธศาสนา สมัยศรีวิชัย พ.ศ. ๑๓๐๐</h3>
            <p>
                อาณาจักรศรีวิชัยในเกาะสุมาตราเจริญรุ่งเรืองในช่วงพุทธศตวรรษที่ ๑๓
                ได้แผ่อำนาจเข้ามาถึงจัดหวัดสุราษฎร์ธานี กษัตริย์ศรีวิชัยทรงนับถือพุทธศาสนาแบบมหายาน
                พระพุทธศาสนาแบบมหายานจึงได้แผ่เข้ามาสู่ภาคใต้ของไทย ดังหลักฐานที่ปรากฏคือเจดีย์พระบรมธาตุไชยา
                พระบรมธาตุนครศรีธรรมราช และรูปหล่อพระโพธิสัตว์อวโลกิเตศวร
            </p>
        </div>
        <div>
            <h3>• พระพุทธศาสนา สมัยลพบุรี พ.ศ. ๑๕๕๐</h3>
            <p>
                ในสมัยกษัตริย์กัมพูชาราชวงศ์สุริยวรมันเรืองอำนาจนั้น
                ได้แผ่อาณาเขตขยายออกมาทั่วภาคตะวันออกเฉียงเหนือและภาคกลางของประเทศไทย ในราว พ.ศ. ๑๕๔๐
                และได้ตั้งราชธานีเป็นที่อำนวยการปกครองเมืองต่าง ๆ ในดินแดนดังกล่าวขึ้นหลายแห่ง เช่น
                - เมืองลพบุรี ปกครองเมืองที่อยู่ในอาณาเขตทวาราวดี ส่วนข้างใต้
                - เมืองสุโทัย ปกครองเมืองที่อยู่ในอาณาเขตทวาราวดีส่วนข้างเหนือ
                - เมืองศรีเทพ ปกครองหัวเมืองที่อยู่ตามลุ่มแม่น้ำป่าสัก
                - เมืองพิมาย ปกครองเมืองที่อยู่ในที่ราบสูงต้อนข้างเหนือ
                เมืองต่าง ๆ ที่ตั้งขึ้นนี้เมืองลพบุรีหรือละโว้ ถือว่าเป็นเมืองสำคัญที่สุด
                กษัตริย์กัมพูชาราชวงศ์สุริยวรมัน ทรงนับถือพระพุทธศาสนาฝ่ายมหายาน
                ซึ่งมีสายสัมพันธ์เชื่อมต่อมาจากอาณาจักรศรีวิชัย แต่ฝ่ายมหายานในสมัยนี้ผสมกับศาสนาพราหมณ์มาก
                ประชาชนในอาณาเขตต่าง ๆ ดังกล่าว จึงได้รับพระพุทธศาสนาทั้งแบบเถรวาทที่สืบมาแต่เดิมด้วย
                กับแบบมหายานและศาสนาพราหมณ์ที่เข้ามาใหม่ด้วย ทำให้มีผู้นับถือพระพุทธศาสนา ๒ แบบ และมีพระสงฆ์ทั้งสองฝ่าย
                คือฝ่ายเถรวาทและฝ่ายมหายาน และภาษาสันสกฤตอันเป็นภาษาหลักของศาสนาพราหมณ์
                และพระพุทธศาสนาฝ่ายมหายานก็ได้เริ่มเข้ามามีอิทธิพลในด้านภาษาและวรรณคดีไทยตั้งแต่บัดนั้นมา
                สำหรับศาสนสถานที่เป็นที่ประจักษ์พยานให้ได้ศึกษาถึงความเป็นมาแห่งพระพุทธศาสนาในประเทศไทยครั้งนั้น
                คือพระปรางค์สามยอดที่จังหวัดลพบุรี ปราสาทหินพิมาย ที่จังหวัดนครราชสีมา
                และปราสาทหินเขาพนมรุ้งที่จังหวัดบุรีรัมย์ เป็นต้น ส่วนพระพุทธรูปที่สร้างในสมัยนั้นก็เป็นแบบขอม
                ถือเป็นศิลปะอยู่ในกลุ่ม ศิลปสมัยลพบุรี
            </p>
        </div>
        <div>
            <h3> • พระพุทธศาสนา สมัยเถรวาทแบบพุกาม</h3>
            <p>
                ในสมัยที่พระเจ้าอนุรุทธมหาราช กษัตริย์พุกามเรืองอำนาจ ทรงรวบรวมเอาพม่ากับรามัญเข้าเป็นอาณาจักรเดียวกัน
                แล้วแผ่อาณาเขตเข้ามาถึงอาณาจักรล้านนา ล้านช้าง จนถึงลพบุรี และทวาราวดี
                พระเจ้าอนุรุทธทรงนับถือพระพุทธศาสนาฝ่ายเถรวาท ทรงส่งเสริมทำนุบำรุงพระพุทธศาสนาอย่างจริงจัง ส่วนชนชาติไทย
                หลังจากอาณาจักรอ้ายลาวสลายตัว ก็ได้มาตั้งอาณาจักรน่านเจ้า ถึงประมาณ พ.ศ. ๑๒๙๙
                ขุนท้าวกวาโอรสขุนบรมแห่งอาณาจักรน่านเจ้า ได้สถาปนาอาณาจักรโยนกเชียงแสนในสุวรรณภูมิ
                หลังจากนั้นคนไทยก็กระจัดกระจายอยู่ทั่วภาคเหนือ ภาคตะวันออกเฉียงเหนือ และภาคกลางของประเทศไทยปัจจุบัน
                เมื่อกษัตริย์พุกาม (กัมพูชา) เรืองอำนาจ คนไทยที่อยู่ในเขตอำนาจของขอม
                ก็ได้รับทั้งศาสนาและวัฒนธรรมของเขมรไว้ด้วย ส่วนทางล้านนาก็ได้รับอิทธิพลจากขอมเช่นเดียวกัน
                คือเมื่ออาณาจักรพุกามของกษัตริย์พม่าเข้ามาครอบครองดินแดนแถบนี้ ดังเห็นว่ามีปูชนียสถานแบบพม่าหลายแห่ง
                และเจดีย์ที่มีฉัตรอยู่บนยอด และฉัตรที่ ๔ มุมของเจดีย์ ก็ได้รับอิทธิพลมาจากพุกามแบบพม่า
            </p>
        </div>
        <div>
            <h3>• พระพุทธศาสนา สมัยสุโขทัย </h3>
            <p>
                <img src="http://www.dhammathai.org/thailand/pic/sukhothai.gif" alt="">
                <br>
                หลังจากอาณาจักรพุกามและกัมพูชาเสื่อมอำนาจลง คนไทยจึงได้ตั้งตัวเป็นอิสระ ได้ก่อตั้งอาณาจักรขึ้นเอง ๒
                อาณาจักร ได้แก่ อาณาจักรล้านนา อยู่ทางภาคเหนือของไทย และอาณาจักรสุโขทัย
                มีศูนย์กลางอยู่ที่จังหวัดสุโขทัยปัจจุบัน เมื่อพ่อขุนรามคำแหงเสด็จขึ้นครองราชย์
                ทรงสดับกิตติศัพท์ของพระสงฆ์ลังกา จึงทรงอาราธนาพระมหาเถระสังฆราช
                ซึ่งเป็นพระเถระชาวลังกาที่มาเผยแผ่อยู่ที่นครศรีธรรมราช มาเผยแผ่พระพุทธศาสนาในกรุงสุโขทัย
                พระพุทธศาสนาแบบลังกาวงศ์ได้เข้ามาเผยแผ่ในประเทศไทย ถึง ๒ ครั้ง คือครั้งที่ ๑ ในสมัยพ่อขุนรามคำแหง
                ครั้งที่ ๒ ในสมัยพระเจ้าลิไท พระพุทธศาสนาเจริญรุ่งเรืองมาก กษัตริย์ทุกพระองค์ทรงปกครองบ้านเมืองโดยธรรม
                มีความสงบร่มเย็น ประชาชนเป็นอยู่โดยผาสุก ศิลปะสมัยสุโขทัยได้รับการกล่าวขานว่างดงามมาก
                โดยเฉพาะพระพุทธรูปสมัยสุโขทัย มีลักษณะงดงาม ไม่มีศิลปะสมัยใดเหมือน
            </p>
        </div>
        <div>
            <h3>• พระพุทธศาสนา สมัยอยุธยา </h3>
            <p>
                <img src="http://www.dhammathai.org/thailand/pic/ayuthaya.jpg" alt="">
                <br>
                พระพุทธศาสนาในสมัยอยุธยาได้รับอิทธิพลของพราหมณ์เข้ามามาก พิธีกรรมต่าง ๆ ได้ปะปนพิธีของพราหมณ์
                เน้นความขลังความศักดิ์สิทธิ์ และอิทธิปาฏิหาริย์ มีเรื่องไสยศาสตร์เข้ามาปะปนอยู่มาก
                ประชาชนมุ่งเรื่องการบุญการกุศล สร้างวัดวาอาราม สร้างปูชนียวัตถุ บำรุงศาสนาเป็นส่วนมาก
                ในสมัยอยุธยาต้องประสบกับภาวะสงครามกับพม่า จนเกิดภาวะวิกฤตทางศาสนาหลายครั้ง ประวัติศาสตร์อยุธยาแบ่งเป็น
            </p>
            <h3>•อยุธยาตอนแรก (พ.ศ. ๑๙๙๑ - ๒๐๓๑)</h3>
            <p>
                ในสมัยพระบรมไตรโลกนาถ ทรงปกครองบ้านเมืองด้วยความสงบร่มเย็น ทรงทำนุบำรุงพระพุทธศาสนา ทรงผนวชเป็นเวลา ๘
                เดือน เมื่อ พ.ศ. ๑๙๙๘ และทรงให้พระราชโอรสกับพระราชนัดดาผนวชเป็นสามเณรด้วย
                สันนิษฐานว่าเป็นการเริ่มต้นของประเพณีการบวชเรียนของเจ้านายและข้าราชการ ในรัชสมัยของพระองค์
                ได้มีการรจนาหนังสือมหาชาติคำหลวง ใน พ.ศ. ๒๐๒๕
            </p>
            <h3>•สมัยอยุธยาตอนที่สอง ( พ.ศ. ๒๐๓๔ - ๒๑๗๓)</h3>
            <p>
                สมัยนี้ได้มีความนิยมในการสร้างวัดขึ้น ทั้งกษัตริย์และประชาชนทั่วไป นิยมสร้างวัดประจำตระกูล
                ในสมัยพระเจ้าทรงธรรมได้พบพระพุทธบาทสระบุรี ทรงให้สร้างมณฑปครอบพระพุทธบาทไว้
                และโปรดให้ชุมชนราชบัณฑิตแต่งกาพย์มหาชาติ เมื่อ พ.ศ. ๒๑๗๐ และโปรดให้สร้างพระไตรปิฎกด้วย
            </p>
            <h3>• สมัยอยุธยาตอนที่สาม (พ.ศ. ๒๑๗๓ - ๒๓๑๐) </h3>
            <p>
                พระมหากษัตริย์ที่มีพระนามยิ่งใหญ่ที่สุดในศตวรรษนี้ ได้แก่สมเด็จพระนารายณ์มหาราช
                พระองค์ทรงมีบทบาทอย่างมากทั้งต่อฝ่ายอาณาจักรและศาสนจักร ทรงส่งเสริมพระพุทธศาสนาอย่างแรงกล้า
                สมัยนี้พวกฝรั่งเศสได้เข้ามาติดต่อกับไทย และได้พยายามเผยแผ่ศาสนา และทูลขอให้พระนารายณ์เข้ารีต
                แต่พระองค์ทรงมั่นคงในพระพุทธศาสนา ทรงนำพาประเทศชาติรอดพ้นจากการเป็นเมืองของฝรั่งเศสได้
                เพราะมีพระราชศรัทธาต่อพระพุทธศาสนาอย่างจริงจัง
            </p>
            <h3>สมัยอยุธยาตอนที่สี่ (พ.ศ. ๒๒๗๕ - ๒๓๑๐) </h3>
            <p>
                พระมหากษัตริย์ที่ทรงมีบทบาทมากในยุคนี้ ได้แก่สมเด็จพระเจ้าอยู่หัวบรมโกศ ทรงเสวยราช เมื่อ พ.ศ. ๒๒๗๕
                การบวชเรียนกลายเป็นประเพณีที่ปฏิบัติสืบต่อกันมาถึงยุคหลัง ถึงกับกำหนดให้ผู้ที่จะเป็นขุนนาง
                มียศถาบรรดาศักดิ์ต้องเป็นผู้ที่ผ่านการบวชเรียนมาเท่านั้น จึงจะทรงแต่งตั้งตำแหน่งหน้าที่ให้
                ในสมัยนี้ได้ส่งพระภิกษุเถระชาวไทยไปฟื้นฟูพุทธศาสนาในประเทศลังกาตามคำทูลขอของกษัตริย์ลังกา เมื่อ พ.ศ.
                ๒๒๙๖ จนทำให้พุทธศาสนากลับเจริญรุ่งเรืองในลังกาอีกครั้ง จนถึงปัจจุบัน
                และเกิดนิกายของคณะสงฆ์ไทยขึ้นในลังกา ชื่อว่า นิกายสยามวงศ์ นิกายนี้ยังคงมีอยู่ถึงปัจจุบัน
            </p>
        </div>
</body>

</html>