

<div class="footer border bg-light mt-3 rounded">
  <div class="row p-4">
    <div class="col-4">
      <h4>ลิงค์น่าสนใจ</h4>
      <ul class="list-unstyled">
        <li><a target=_blank href="https://dhamma.mthai.com/pray/805.html">คำถวายเทียนพรรษา</a></li>
        <li><a target=_blank href="https://dhamma.mthai.com/pray/829.html">คำถวายผ้าอาบน้ำฝน</a></li>
        <li><a target=_blank href="https://dhamma.mthai.com/pray/2471.html">คำถวาย ธูป เทียน ดอกไม้</a></li>
        <li><a target=_blank href="https://dhamma.mthai.com/pray/5414.html">บทสวดมนต์มงคลจักรวาลน้อย</a></li>
        <li><a target=_blank href="https://dhamma.mthai.com/pray/5172.html">คำนมัสการพระพุทธคุณ ธรรมคุณ สังฆคุณ</a></li>
        <li><a target=_blank href="https://dhamma.mthai.com/pray/5165.html">คำสมาทานศีล 5</a></li>
      </ul>
    </div>
    <div class="col-4">
      <h4>เสียงบทสวดมนต์</h4>
      <ul class="list-unstyled">
        <li><a target=_blank href="https://www.dhammaprayer.com/%E0%B9%80%E0%B8%AA%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%9A%E0%B8%97%E0%B8%AA%E0%B8%A7%E0%B8%94%E0%B8%A1%E0%B8%99%E0%B8%95%E0%B9%8C/">เสียงบทสวดมนต์ เช้าและก่อนนอน</a></li>
        <li><a target=_blank href="https://www.dhammaprayer.com/%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%84%E0%B8%B2%E0%B8%96%E0%B8%B2-%E0%B8%9A%E0%B8%B2%E0%B8%A3%E0%B8%A1%E0%B8%B5-30-%E0%B8%97%E0%B8%B1%E0%B8%A8/">เสียงบทสวดมนต์ บารมี 30 ทัศ</a></li>
        <li><a target=_blank href="https://www.dhammaprayer.com/%E0%B9%80%E0%B8%AA%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%84%E0%B8%B2%E0%B8%96%E0%B8%B2%E0%B8%8A%E0%B8%B4%E0%B8%99%E0%B8%9A%E0%B8%B1%E0%B8%8D%E0%B8%8A%E0%B8%A3/">เสียงบทสวดมนต์ พระคาถาชินบัญชร</a></li>
        <li><a target=_blank href="https://www.dhammaprayer.com/%E0%B9%80%E0%B8%AA%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%9A%E0%B8%97%E0%B8%AA%E0%B8%A7%E0%B8%94%E0%B8%A1%E0%B8%99%E0%B8%95%E0%B9%8C%E0%B8%AD%E0%B8%B4%E0%B8%95%E0%B8%B4%E0%B8%9B%E0%B8%B4%E0%B9%82%E0%B8%AA/">เสียงบทสวดมนต์ อิติปิโส 108 จบ</a></li>
        <li><a target=_blank href="https://www.dhammaprayer.com/%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%84%E0%B8%B2%E0%B8%96%E0%B8%B2-%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3%E0%B8%A7%E0%B8%B2%E0%B8%A5-8-%E0%B8%97%E0%B8%B4%E0%B8%A8/">เสียงมงคลคาถา จักรวาลทั้ง 8 ทิศ</a></li>
        <li><a target=_blank href="https://www.dhammaprayer.com/%E0%B8%8A%E0%B8%B1%E0%B8%A2%E0%B8%A1%E0%B8%87%E0%B8%84%E0%B8%A5%E0%B8%84%E0%B8%B2%E0%B8%96%E0%B8%B2-%E0%B8%9E%E0%B8%B2%E0%B8%AB%E0%B8%B8%E0%B8%87%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%81%E0%B8%B2/">เสียงชัยมงคลคาถา พาหุงฯ</a></li>
      </ul>
    </div>
    <div class="col-4">
      <i class="fas fa-vihara fa-4x"></i>
      <address>
        <strong>สถานธรรมปลีกวิเวก</strong> <br />
        425 ม.2 ต.เปียงหลวง อ.เวียงแหง จ.เชียงใหม่ 50350
        <p>โทร 081-7830506</p>
      </address>
    </div>
  </div>
  
  <p class="p-3">&copy; สงวนสิทธิ์ 2019, สาขาวิชาวิทยาการคอมพิวเตอร์ <br>
    ภาควิชาคอมพิวเตอร์, คณะวิทยาศาสตร์และเทคโนโลยี, <br>มหาวิทยาลัยราชภัฏเชียงใหม่
  </p>
 
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>